@media (min-width:601px) and (max-width:800px){

nav,.menu{
font-size:1.2rem;
gap:1.5rem;
}

#picture{
gap:5rem;
}

#pictures{
width:300px;
height:300px;
margin-left:40px;
}

.identity{
font-size:28px;
}

#identity-five{
margin-left:80px;
}

#introduction{
width:450px;
height:350px;
font-size:13px;
margin-left:30px;
}

.image-two{
width:230px;
height:230px;
margin-right:40px;
}

#About-me{
font-size:32px;
}

#exprience-title{
font-size:32px;
}

#alinment{
gap:120px;
padding-left:120px;
}

#mandatory-icons{
margin-left:120px;
gap:120px;
}

#additional-info-media{
margin-left:220px;
gap:120px;
}

#btn{
width:140px;
}

}
@media (max-width:600px){

nav{
flex-direction:column;
}

.menu{
flex-direction:column;
gap:1rem;
font-size:1.1rem;
}

#picture{
flex-direction:column;
gap:2rem;
align-items:center;
}

#pictures{
width:220px;
height:220px;
margin-left:0;
}

.identity{
font-size:22px;
line-height:25px;
}

#identity-five{
margin-left:0;
}

.introduction-me{
flex-direction:column;
align-items:center;
}

#introduction{
width:90%;
height:auto;
margin-left:0;
font-size:12px;
}

.image-two{
width:200px;
height:200px;
margin:20px auto;
}

#About-me{
font-size:28px;
}

#exprience-title{
font-size:28px;
}

#alinment{
flex-direction:column;
gap:40px;
padding-left:0;
align-items:center;
}

#mandatory-icons{
flex-direction:column;
margin-left:0;
gap:40px;
align-items:center;
}

#additional-info-media{
flex-direction:column;
margin-left:0;
gap:40px;
align-items:center;
margin-top:60px;
}

#btn{
width:120px;
}
}