@media screen and (min-width:700px) and (max-width:900px) {
    nav {
        gap: 1rem;
    }

    #picture {
        gap: 4rem;
        padding: 20px;
    }

    #pictures {
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }

    .identity {
        font-size: 25px;
    }
    #identity-two{
        text-align: center;
    }
    #identity-three{
        text-align: center;
    }
    #identity-four{
        text-align: center;
    }
    #identity-five{
        margin-left: 0px;
    }


    #introduction {
        align-items: center;
        margin: auto;
        font-size: large;
    }

    .introduction-me {
        gap: 2rem;
        flex-direction: column;
    }

    .image-two {
        align-items: center;
        margin: auto;
    }


    #alinment {
        gap: 120px;
        padding-left: 130px;
        text-align: center;
    }
    #btn{
        margin-left: 40px;
    }

    #mandatory-icons {
        margin-left: 90px;
        gap: 80px;
        align-items: center;

    }

    #close {
        font-size: 60px;
    }

}

@media screen and (max-width:700px) {

    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }


    #picture {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    #pictures {
        width: 250px;
        height: 250px;
        margin-left: 0;
    }

    .identity {
        font-size: 22px;
        text-align: center;
    }

    #identity-five {
        margin-left: 0;
        text-align: center;
    }


    .introduction-me {
        flex-direction: column;
        align-items: center;
    }

    #introduction {
        width: 90%;
        height: auto;
        margin-left: 0;
        text-align: center;
    }

    .image-two {
        width: 200px;
        height: 200px;
        margin: 20px 0px;
    }


    #alinment {
        flex-direction: column;
        gap: 40px;
        padding-left: 0;
        align-items: center;
        text-align: center;
    }
    #btn{
        margin-left: 50px;
    }


    #mandatory-icons {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-left: 0px;
    }

    #phone-icon {
        margin-left: 0px;
    }

    #location-icon {
        margin-left: 20px;

    }

    #post-icon {
        margin-left: 20px;
    }

    #close {
        font-size: 40px;
        text-align: center;
    }

}